@use 'base/variables' as v;
@use 'base/mixins' as m;

.header-admin {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 1rem;
   position: relative;
   align-items: center;

   &__mobil {
      color: v.$blanco;
      font-size: 2rem;

      &:hover {
         cursor: pointer;
      }
   }

   &__menu {
      @include m.lista;
      background-color: darken(v.$gris, 15%);
      padding: 2rem;
      border-radius: 1rem;
      z-index: 1;
      position: absolute;
      margin-top: 1.5rem;
      right: 0;
   }

   &__item {
      padding-bottom: 1rem;
   }

   &__enlace {
      font-weight: v.$medium;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      color: v.$negro;
   }

   &__icon {
      font-size: 2rem;
   }

   &__usuario {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      color: v.$blanco;

      &:hover {
         cursor: pointer;
      }

      &::after {
         content: "";
         width: .6rem;
         height: .6rem;
         border-bottom: 2px solid v.$blanco;
         border-right: 2px solid v.$blanco;
         rotate: -45grad;
      }
   }

   &__nombre {
      font-weight: v.$medium;
   }

   &__nike {

      border: 1px solid v.$gris;
      padding: .5rem;
      border-radius: 50%;
   }
}